body{
    background-image: url(Pics/Wallpaper.png);
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%;
    color: rgb(255, 255, 255);
    font-family: Metal Mania;
    text-align: center;
}

/*Banderole avec titre et artiste*/
header {
    display:flex;
    flex-wrap: wrap;
    background-image: url(Pics/backTitle.jpg);
    background-size: cover;
}

#title{
    font-family:Rubik Burned;
    font-size: 400%;
    text-align: left;
}

#artist{
    display: flexbox;
    flex-wrap: wrap;
    text-align: right;
    right: -3%;
    font-size: 250%;
    list-style-type: none;
    font-family: Rubik Burned;
}

#cover{
    position: relative;
    width: 25%;
}

h3{
    font-size: 600%;
    font-family: Rubik Burned;
    margin-bottom: -3%;
}

h4{
    font-size: 150%;
}

.morceaux{
    display: inline-block;
    text-align: left;
    list-style-position: outside;
    padding-left: 1.2em;
    margin: 0 auto;
    font-size: 2em;
    list-style: georgian;
}

#albums{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.album-image{
    width: 20em;
    margin-bottom: 2%;
}

footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    /*font-family: Rubik Burned;*/
    font-size: 1em;
}