body{
    background-image: url(Pics/Wallpaper.png);
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%;
    color:rgb(217, 217, 217);
    font-family: Metal Mania;
    text-align: center;
}

/*Banderole avec titre et artiste*/
    header {
        padding-left: 1em;
        padding-right: 1em;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-image: url(Pics/backTitle.jpg);
        background-size: cover;
    }

    #title{
        font-family:Rubik Burned;
        font-size: 400%;
        text-align: left;
        margin-bottom: 0em;
        padding-bottom: 0em;
        margin-top: 0em;
        padding-top: 0.15em;
    }

    a {
        color:inherit;
        text-decoration: none;
    }


    #artist {
        justify-content: flex-end;
        text-align: right;
        margin-bottom: 0em;
        padding-bottom: 0em;
        margin-top: 0em;
        margin-top: 0em;
        font-size: 250%;
        list-style-type: none;
        font-family: Rubik Burned;
    }

    #artist p {
        margin: 0.2em 0;
    }

.Description {
    font-size: 1.5em;
    background: radial-gradient( rgba(63, 52, 68, 0.5) 30%, rgba(0, 0, 0, 0.498) 70%);
    padding-left: 5%;
    padding-right: 5%;
}


.morceaux li, h1, .album-image, #artist p {
    transition: transform 0.5s ease-in-out;
}

.morceaux li:hover, h1:hover, .album-image:hover, #artist p:hover {
  transform: scale(1.03);
}

#cover{
    width: 20em;
    /*border: 3px solid transparent;
    border-image: linear-gradient(45deg,#84201c, #3f3444);
    border-image-slice: 1;
    padding: 20px;*/
    margin-top: 3%;
    animation: glitch 10s steps(1, end) infinite;
}

h3{
    font-size: 600%;
    font-family: Rubik Burned;
    margin-bottom: 0%;
    margin-top: 3%;
}

h4{
    font-size: 150%;
    margin-top: 0%;
}

.morceaux{
    display: inline-block;
    text-align: left;
    list-style-position: outside;
    padding-left: 1.2em;
    margin: 0 auto;
    font-size: 2em;
    list-style: georgian;
    background: radial-gradient( rgba(63, 52, 68, 0.5) 30%, rgba(0, 0, 0, 0.498) 70%);
}

#albums{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-bottom: 0em;
}

.album-image{
    width: 15em;
    height: 15em;
    padding: 10px;
}

#Red {
    border: 3px solid transparent;
    border-image: linear-gradient(45deg,#84201c, #3f3444);        
    border-image-slice: 1;
}

#Belli {
    border: 3px solid transparent;
    border-image: linear-gradient(-45deg, #341519, #132f3a);
    border-image-slice: 1;
}

#Eco {
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #545454, #000000);
    border-image-slice: 1;
}
/* belli*/
/*(49 new eco*/
/**/
footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    /*font-family: Rubik Burned;*/
    font-size: 1em;
}

    @keyframes glitch {
    /* état normal (par défaut) */
    0%, 11%, 20%, 33%, 65%, 73%, 96%, 100% {
      transform: none;
      filter: brightness(0.8) contrast(1.5);
      opacity: 1;
    }
    10% {
      transform: translate(6px, -3px);
      filter: brightness(0.7) contrast(2.3) hue-rotate(12deg);
    }

    19% {
      transform: translate(-4px, -2px) rotate(-0.6deg);
      filter: brightness(0.9) contrast(2) hue-rotate(-8deg);
    }

    32% {
      transform: translate(-6px, 2px) rotate(1deg);
      filter: brightness(1) contrast(2.1) hue-rotate(-12deg);
    }


    64% {
      transform: translate(5px, 0px);
      filter: brightness(0.7) contrast(2.4) hue-rotate(10deg);
    }

    72% {
      transform: translate(-3px, 4px);
      filter: brightness(0.6) contrast(2.5) hue-rotate(-15deg);
    }

    95% {
      transform: translate(4px, -1px);
      filter: brightness(1) contrast(2.1) hue-rotate(6deg);
    }
}