body{
    background-image: url(Pics/Wallpaper.png);
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%;
    color:rgb(217, 217, 217);
    font-family: Metal Mania;
    text-align: center;
}

/*Banderole avec titre et artiste*/
    header {
        padding-left: 1em;
        padding-right: 1em;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-image: url(Pics/backTitle.jpg);
        background-size: cover;
    }

    #title{
        font-family:Rubik Burned;
        font-size: 400%;
        text-align: left;
        margin-bottom: 0em;
        padding-bottom: 0em;
        margin-top: 0em;
        padding-top: 0.15em;
    }

    a {
        color:inherit;
        text-decoration: none;
    }


    #artist {
        text-align: right;
        margin-bottom: 0em;
        padding-bottom: 0em;
        margin-top: 0em;
        margin-top: 0em;
        font-size: 250%;
        list-style-type: none;
        font-family: Rubik Burned;
    }

    #artist p {
        margin: 0.2em 0;
    }

.Description {
    font-size: 1.5em;
    background: radial-gradient( rgba(63, 52, 68, 0.5) 30%, rgba(0, 0, 0, 0.498) 70%);
    padding-left: 5%;
    padding-right: 5%;
}


.morceaux li, h1, .album-image, #artist p {
    transition: transform 0.5s ease-in-out;
}

.morceaux li:hover, h1:hover, .album-image:hover, #artist p:hover {
  transform: scale(1.03);
}

#cover{
    width: 20em;
    /*border: 3px solid transparent;
    border-image: linear-gradient(45deg,#84201c, #3f3444);
    border-image-slice: 1;
    padding: 20px;*/
    margin-top: 3%;
    animation: glitch 2s infinite;
}

h3{
    font-size: 600%;
    font-family: Rubik Burned;
    margin-bottom: 0%;
    margin-top: 3%;
}

h4{
    font-size: 150%;
    margin-top: 0%;
}

.morceaux{
    display: inline-block;
    text-align: left;
    list-style-position: outside;
    padding-left: 1.2em;
    margin: 0 auto;
    font-size: 2em;
    list-style: georgian;
    background: radial-gradient( rgba(94, 25, 23, 0.5) 30%, rgba(0, 0, 0, 0.498) 70%);
}

#albums{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-bottom: 0em;
}

.album-image{
    width: 15em;
    height: 15em;
    padding: 10px;
}

#Red {
    border: 3px solid transparent;
    border-image: linear-gradient(45deg,#84201c, #3f3444);        
    border-image-slice: 1;
}

#Belli {
    border: 3px solid transparent;
    border-image: linear-gradient(-45deg, #341519, #132f3a);
    border-image-slice: 1;
}

#Eco {
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #545454, #000000);
    border-image-slice: 1;
}
/* belli*/
/*(49 new eco*/
/**/
footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    /*font-family: Rubik Burned;*/
    font-size: 1em;
}

    @keyframes glitch {
        0%, 100% {
            filter: none;
            transform: none;
            opacity: 1;
        }

        2% {
            filter: brightness(1.5) contrast(2.5) hue-rotate(-10deg) saturate(2);
            transform: translate(-2px, 1px);
        }
        4% {
            filter: brightness(0.6) contrast(3) hue-rotate(5deg);
            transform: translate(3px, -2px);
            opacity: 0.9;
        }
        7% {
            filter: brightness(0.9) contrast(1.8) hue-rotate(-5deg) saturate(1.5);
            transform: translate(-1px, 1px) scale(1.02);
        }
        10% {
            filter: brightness(1.3) contrast(2) hue-rotate(15deg) saturate(2.2);
            transform: translate(2px, -1px);
        }
        13% {
            filter: brightness(0.5) contrast(2.8) hue-rotate(-20deg) saturate(3);
            transform: translate(-3px, 2px);
        }
        17% {
            filter: brightness(1.1) contrast(1.6) hue-rotate(5deg);
            transform: translate(1px, 0px) scale(1.01);
        }
        20% {
            filter: brightness(0.8) contrast(2.5) hue-rotate(-15deg) saturate(2.5);
            transform: translate(-2px, 2px);
            opacity: 0.85;
        }
        25% {
            filter: brightness(1.2) contrast(1.8) hue-rotate(10deg) saturate(1.5);
            transform: translate(2px, -1px);
        }
        30% {
            filter: brightness(0.6) contrast(3) hue-rotate(-10deg) saturate(3);
            transform: translate(-3px, 1px);
        }
        35% {
            filter: brightness(1.4) contrast(2.2) hue-rotate(5deg) saturate(2);
            transform: translate(1px, -2px) scale(1.02);
        }
        40% {
            filter: brightness(0.5) contrast(3) hue-rotate(-25deg) saturate(4);
            transform: translate(-2px, 3px);
        }
        50% {
            filter: brightness(1) contrast(1.5) hue-rotate(0deg) saturate(1);
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
        55% {
            filter: brightness(1.3) contrast(2) hue-rotate(15deg) saturate(2);
            transform: translate(2px, -2px);
        }
        60% {
            filter: brightness(0.7) contrast(3) hue-rotate(-15deg) saturate(3);
            transform: translate(-3px, 1px);
            opacity: 0.9;
        }
        65% {
            filter: brightness(1.2) contrast(1.7) hue-rotate(5deg);
            transform: translate(1px, -1px) scale(1.01);
        }
        70% {
            filter: brightness(0.5) contrast(2.8) hue-rotate(-20deg) saturate(3.5);
            transform: translate(-2px, 2px);
        }
        75% {
            filter: brightness(1.1) contrast(2) hue-rotate(10deg) saturate(2);
            transform: translate(2px, -1px);
        }
        80% {
            filter: brightness(0.6) contrast(3) hue-rotate(-5deg) saturate(3);
            transform: translate(-3px, 1px);
            opacity: 0.85;
        }
        85% {
            filter: brightness(1.3) contrast(2.5) hue-rotate(15deg) saturate(2);
            transform: translate(1px, -2px) scale(1.02);
        }
        90% {
            filter: brightness(0.7) contrast(3) hue-rotate(-15deg) saturate(3);
            transform: translate(-2px, 2px);
        }
        95% {
            filter: brightness(1.1) contrast(1.8) hue-rotate(5deg);
            transform: translate(2px, -1px);
        }
    }