body{
    background-image: url(Pics/Wallpaper.png);
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%;
    color:rgb(217, 217, 217);
    font-family: Metal Mania;
    text-align: center;
}

/*Banderole avec titre et artiste*/
    header {
        padding-left: 1em;
        padding-right: 1em;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-image: url(Pics/backTitle.jpg);
        background-size: cover;
    }

    #title{
        font-family:Rubik Burned;
        font-size: 400%;
        text-align: left;
        margin-bottom: 0em;
        padding-bottom: 0em;
        margin-top: 0em;
        padding-top: 0.15em;
    }

    a {
        color:inherit;
        text-decoration: none;
    }


    #artist {
        justify-content: flex-end;
        text-align: right;
        margin-bottom: 0em;
        padding-bottom: 0em;
        margin-top: 0em;
        margin-top: 0em;
        font-size: 250%;
        list-style-type: none;
        font-family: Rubik Burned;
    }

    #artist p {
        margin: 0.2em 0;
    }

.Description {
    font-size: 1.5em;
    background: radial-gradient( rgba(63, 52, 68, 0.5) 30%, rgba(0, 0, 0, 0.498) 70%);
    padding-left: 5%;
    padding-right: 5%;
}


.morceaux li, h1, .album-image, #artist p {
    transition: transform 0.5s ease-in-out;
}

.morceaux li:hover, h1:hover, .album-image:hover, #artist p:hover {
  transform: scale(1.03);
}

#cover{
    width: 20em;
    /*border: 3px solid transparent;
    border-image: linear-gradient(45deg,#84201c, #3f3444);
    border-image-slice: 1;
    padding: 20px;*/
    border: 15px double black;
    margin-top: 3%;
    animation: glitch-flash 2s infinite steps(1, end);
}

#cover::before, #cover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(Pics/cover.jpg) no-repeat center / cover;
  mix-blend-mode: screen;
  opacity: 0.8;
  animation: glitch-move 1.5s infinite steps(2, end);
}

#cover::before {
  filter: hue-rotate(310deg) saturate(2);
  transform: translate(0);
  animation: glitch-r 1.5s infinite steps(2, end);
}

#cover::after {
    filter: hue-rotate(190deg) saturate(2);
    transform: translate(0);
    animation: glitch-b 1.5s infinite steps(2, end);
}

h3{
    font-size: 600%;
    font-family: Rubik Burned;
    margin-bottom: 0%;
    margin-top: 3%;
}

h4{
    font-size: 150%;
    margin-top: 0%;
}

.morceaux{
    display: inline-block;
    text-align: left;
    list-style-position: outside;
    padding-left: 1.2em;
    margin: 0 auto;
    font-size: 2em;
    list-style: georgian;
    background: radial-gradient( rgba(63, 52, 68, 0.5) 30%, rgba(0, 0, 0, 0.498) 70%);
}

#albums{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
    margin-bottom: 0em;
}

.album-image{
    width: 20em;
    height: 20em;
    padding: 20px;
}

#Red {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg,#84201c, #3f3444);        
    border-image-slice: 1;
}

#Belli {
    border: 5px solid transparent;
    border-image: linear-gradient(-45deg, #341519, #132f3a);
    border-image-slice: 1;
}

#Eco {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #545454, #000000);
    border-image-slice: 1;
}
/* belli*/
/*(49 new eco*/
/**/
footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    /*font-family: Rubik Burned;*/
    font-size: 1em;
}

@keyframes glitch-r {
  0% { transform: translate(0); opacity: 0.9; }
  10% { transform: translate(-3px, -2px); }
  20% { transform: translate(3px, 2px); }
  30% { transform: translate(-1px, 1px); }
  40%, 100% { transform: translate(0); }
}

@keyframes glitch-b {
  0% { transform: translate(0); opacity: 0.9; }
  10% { transform: translate(2px, 2px); }
  20% { transform: translate(-2px, -1px); }
  30% { transform: translate(1px, -1px); }
  40%, 100% { transform: translate(0); }
}

/* Flash rapide sur l’image principale */
@keyframes glitch-flash {
  0%, 90%, 100% { filter: contrast(1.1) brightness(1.05); }
  92% { filter: contrast(1.8) brightness(1.5) saturate(1.8); }
  94% { filter: contrast(0.8) brightness(0.9); }
}

/* Léger mouvement général */
@keyframes glitch-move {
  0%, 100% { transform: translate(0); }
  25% { transform: translate(1px, 1px); }
  50% { transform: translate(-1px, 0); }
  75% { transform: translate(0, -1px); }
}

    /*@keyframes glitch {
    0%, 11%, 20%, 33%, 65%, 73%, 96%, 100% {
      filter: brightness(40%);
      opacity: 1;
    }
    10% {
      filter: brightness(0.7) opacity(0.7) hue-rotate(20deg);
    }

    19% {
      filter: brightness(2) hue-rotate(-8deg)  opacity(0.3) ;
    }

    32% {
      filter: brightness(1) opacity(1) hue-rotate(-12deg);
    }


    64% {
      filter: brightness(0.7) opacity(0.3) hue-rotate(10deg);
    }

    72% {
      filter: brightness(2) opacity(1) hue-rotate(-15deg);
    }

    95% {
      filter: brightness(2) opacity(0.7) hue-rotate(6deg);
    }*/
